<footer>

<div>
<%= link_to image_tag("http://res.cloudinary.com/dvyy9f87h/image/upload/c_scale,r_15,w_200/v1453729510/philosoraptor-wallpaper-960x540_snpdrz.jpg", alt: "Rails logo"), signup_path %>
</div>

<div>
	<ul>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>


</footer>